[run]
omit=
  *apps.py,
  *migrations/*,
  *settings*,
  *tests/*,
  *tests.py,
  *urls.py,
  *wsgi.py,
  *admin/*,
  *admin*/,
  *admin.py,
  manage.py,
  *fixtures.py,
  *setup.py,
  *__init__.py,
  *__pycache__,
  *_private.py